/*Your styles*/

body {
    margin: 10px;
    background-color: #535353;
    color: #fff;
}

#content {
    margin-right:auto;
    margin-left:auto;
    vertical-align:middle;
    width:100%;
}

button {
    background-color: #777;
    color: #ddd;
}

#btn_test{
    width: 100%;
}
